BPELorchestrateur/bpelContent/WSBanque.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.mylogos.top/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BanqueServiceImplService" targetNamespace="http://service.mylogos.top/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.mylogos.top/" elementFormDefault="unqualified" targetNamespace="http://service.mylogos.top/" version="1.0">

  <xs:element name="demanderPaiement" type="tns:demanderPaiement"/>

  <xs:element name="demanderPaiementResponse" type="tns:demanderPaiementResponse"/>

  <xs:complexType name="demanderPaiement">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:demandePaiement"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="demandePaiement">
    <xs:sequence>
      <xs:element name="anneeExpiration" type="xs:int"/>
      <xs:element minOccurs="0" name="cleClient" type="xs:string"/>
      <xs:element minOccurs="0" name="cvv" type="xs:string"/>
      <xs:element name="moisExpiration" type="xs:int"/>
      <xs:element name="montant" type="xs:double"/>
      <xs:element minOccurs="0" name="nomPorteur" type="xs:string"/>
      <xs:element minOccurs="0" name="numeroCarte" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="demanderPaiementResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:reponsePaiement"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reponsePaiement">
    <xs:sequence>
      <xs:element name="ok" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="demanderPaiement">
    <wsdl:part element="tns:demanderPaiement" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="demanderPaiementResponse">
    <wsdl:part element="tns:demanderPaiementResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BanqueService">
    <wsdl:operation name="demanderPaiement">
      <wsdl:input message="tns:demanderPaiement" name="demanderPaiement">
    </wsdl:input>
      <wsdl:output message="tns:demanderPaiementResponse" name="demanderPaiementResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BanqueServiceImplServiceSoapBinding" type="tns:BanqueService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="demanderPaiement">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="demanderPaiement">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="demanderPaiementResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BanqueServiceImplService">
    <wsdl:port binding="tns:BanqueServiceImplServiceSoapBinding" name="BanqueServiceImplPort">
      <soap:address location="http://localhost:8180/Banque/banque"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>