BPELorchestrateur/bpelContent/WSFacturation.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://service.mylogos.top/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="FacturationServiceImplService" targetNamespace="http://service.mylogos.top/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://service.mylogos.top/" elementFormDefault="unqualified" targetNamespace="http://service.mylogos.top/" version="1.0">

  <xs:element name="responseFacturation" type="tns:responseFacturation"/>

  <xs:element name="responseFacturationResponse" type="tns:responseFacturationResponse"/>

  <xs:complexType name="responseFacturation">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:commande"/>
      <xs:element minOccurs="0" name="arg1" type="tns:utilisateur"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="commande">
    <xs:sequence>
      <xs:element minOccurs="0" name="adresse" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ligneCommande" nillable="true" type="tns:ligneCommande"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ligneCommande">
    <xs:sequence>
      <xs:element minOccurs="0" name="commande" type="tns:commande"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="produit" type="tns:produit"/>
      <xs:element name="quantite" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="produit">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element name="prix" type="xs:double"/>
      <xs:element name="quantite" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="utilisateur">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="mail" type="xs:string"/>
      <xs:element minOccurs="0" name="nom" type="xs:string"/>
      <xs:element minOccurs="0" name="prenom" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="responseFacturationResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="responseFacturationResponse">
    <wsdl:part element="tns:responseFacturationResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="responseFacturation">
    <wsdl:part element="tns:responseFacturation" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FacturationService">
    <wsdl:operation name="responseFacturation">
      <wsdl:input message="tns:responseFacturation" name="responseFacturation">
    </wsdl:input>
      <wsdl:output message="tns:responseFacturationResponse" name="responseFacturationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacturationServiceImplServiceSoapBinding" type="tns:FacturationService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="responseFacturation">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="responseFacturation">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="responseFacturationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacturationServiceImplService">
    <wsdl:port binding="tns:FacturationServiceImplServiceSoapBinding" name="FacturationServiceImplPort">
      <soap:address location="http://localhost:8180/Facturation/facturation"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>